/.idea/
/Core/target/
/Core/pom.xml.versionsBackup
/NMS/pom.xml.versionsBackup
/Economy/pom.xml.versionsBackup
/Economy/target/
/V1_17_R1/target/
/NMS/target/
/V1_17_R1/pom.xml.versionsBackup
/V1_18_R2/target/
/V1_18_R2/pom.xml.versionsBackup
/V1_19/target/
/V1_19/pom.xml.versionsBackup
/V1_19_R2/target/
/V1_19_R2/pom.xml.versionsBackup
/V1_19_R3/target/
/V1_19_R3/pom.xml.versionsBackup
/pom.xml.versionsBackup
*.iml
